<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
<h1>Lista de Tarefas</h1>
    <ul>
        {% for x in tarefas %}
            <li><strong>Nome:</strong> {{ x.nome }}</li>
            <li><strong>Status:</strong> {{ x.status }}</li>
            <li><strong>Prazo:</strong> {{ x.prazo }}</li>
            
            {% if x.prazo < hoje and x.status == False%}
                <li><b>Atrasado</b></li>
            {% else %}
                <li>Em dia</li>
            {% endif %}
            
            <hr> {% endfor %}
    </ul>
</body>
</html>