<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <ul>
        {% for x in Tarefa %}
        <li>{{x.nome}}</li>
        <li>{{x.status}}</li>
        <li>{{x.prazo}}</li>
        <li>{{if x.prazo < hoje}}
            Atrasado</li>
        <li>{{else}}
            <b>Atrasado</b></li>
            {{endif}}
        {%endfor%}

    </ul>
</body>
</html>